<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Result</title>
</head>
<body>
    <h2>Submit Your Score</h2>
    <form action="/submit_scores" method="post">
        <label for="Science">Science:</label>
        <input type="text" id="science" name="science" required>
        <br><br>
        <label for="Math">Math:</label>
        <input type="number" id="math" name="math" required>
        <br><br>
        <label for="Stat">Statistics:</label>
        <input type="number" id="stat" name="stat" required>
        <br><br>
        <button type="submit">Submit</button>
</body>
</html>